body{
    margin: 0;
}
h1 {
    display: block;
    text-align: center;
    color: rgb(36, 111, 240);
    font-family: 'bold';
}

a {
    display: block;
    text-align: center;
    color: rgb(229, 239, 110);
    font-family: 'regular';
}